In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('address_out.csv')

In [23]:
df.isna().sum()

title              0
company          969
job_type           0
is_remote          0
description        0
address        16433
dtype: int64

In [24]:
df2 = df.dropna(ignore_index=True)

In [25]:
df2.isna().sum()

title          0
company        0
job_type       0
is_remote      0
description    0
address        0
dtype: int64

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25611 entries, 0 to 25610
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        25611 non-null  object
 1   company      25611 non-null  object
 2   job_type     25611 non-null  object
 3   is_remote    25611 non-null  bool
 4   description  25611 non-null  object
 5   address      25611 non-null  object
dtypes: bool(1), object(5)
memory usage: 1.0+ MB

In [27]:
import re

def remove_floor_info(address):
    # Use regex to remove the floor information correctly
    cleaned_address = re.sub(r'#\s*\d+\s*-?\s*\d*', '', address).strip()
    return cleaned_address

In [28]:
df2['address'][0:3]

0           Tras Street, #9-177 Union Building, 079025
1    1 Joo Koon Cir, #13-01 FairPrice Joo Koon, Sin...
2    2 Alexandra Rd, #04-01 Delta House, Singapore ...
Name: address, dtype: object

In [29]:
df2.loc[:, 'cleaned_address'] = df2['address'].apply(remove_floor_info)

# Display the DataFrame
print(df2[['address', 'cleaned_address']])

                                                 address  \
0             Tras Street, #9-177 Union Building, 079025
1      1 Joo Koon Cir, #13-01 FairPrice Joo Koon, Sin...
2      2 Alexandra Rd, #04-01 Delta House, Singapore ...
3      58A Sungei Kadut Loop, LBD Construction Group ...
4      1 Yishun Industrial Street 1, #06-27 A'Posh Bi...
...                                                  ...
25606  41 Kallang Pudding Rd, #07-00 Golden Wheel Bui...
25607              30 Cecil St, #18-08, Singapore 049712
25608                  146 Robinson Rd, Singapore 068909
25609  21 Bukit Batok Cres, #07-84 Wcega Tower, Singa...
25610             88 Market St, #33-01, Singapore 048948

                                         cleaned_address
0                   Tras Street,  Union Building, 079025
1      1 Joo Koon Cir,  FairPrice Joo Koon, Singapore...
2         2 Alexandra Rd,  Delta House, Singapore 159919
3      58A Sungei Kadut Loop, LBD Construction Group ...
4      1 Yishun Industrial Street 1,  A'Posh BizHub, ...
...                                                  ...
25606  41 Kallang Pudding Rd,  Golden Wheel Building,...
25607                    30 Cecil St, , Singapore 049712
25608                  146 Robinson Rd, Singapore 068909
25609  21 Bukit Batok Cres,  Wcega Tower, Singapore 6...
25610                   88 Market St, , Singapore 048948

[25611 rows x 2 columns]

C:\Users\Brandon\AppData\Local\Temp\ipykernel_58632\3654243366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[:, 'cleaned_address'] = df2['address'].apply(remove_floor_info)

In [30]:
df2.to_csv('cleaned_address_out.csv')